/.gradle
/.settings
/.externalToolBuilders
/.classpath
/.project
/.idea
/.settings
/build/
/bin/
/gradle/
gradlew*
/target/
/it/.settings
/it/test-output
/it/.classpath
/it/jbehave
/it/target
/it/.project
/it/.idea
/service/.classpath
/service/.project
/service/.settings/
/service/.gradle
/service/.idea
/service/out/
/service/src/test/resources/mail/
/it/src/test/resources/docker/logs/
*.iml
*.ipr
*.iws
dependencies.info
settings.json

/schema/episodes/*
/schema/*
bdd.log
trace.db/
service/velocity.log
*logs/*
schema/*
*.jasper
attachment.xlsx
